{% extends "core_base.html" %}

{% block page_style_links %}
    {{ block.super }}
{% endblock %}{# page_style_links #}

{% block page_body_container_inner %}
{% block page_body_center_row %}


{# <div class="row"> #}
{#     <div class="col-md-8"> #}
{#         <h1>Django, Asynchronous</h1> #}
{#     </div> #}
{#     <div class="col-md-4"> #}
{#     </div> #}
{# </div> #}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        Treq:<br />
        {{ treq }}
    </div>
    <div class="col-md-2">
    </div>
</div>

{% endblock %} {# page_body_center_row #}
{% endblock %}
