{% extends "core_base.html" %}

{% block page_style_links %}
    {{ block.super }}
    <link rel="stylesheet"
        href="{{STATIC_URL}}css/core/index.css"
        type="text/css" media="all" />
    {# <link rel="stylesheet" #}
    {#     href="{{STATIC_URL}}css/news/news.css" #}
    {#     type="text/css" media="all" /> #}
{% endblock %}{# page_style_links #}

{% block page_body_container_inner %}
{% block page_body_center_row %}


<div class="row">
    <div class="col-md-8">
        <h1>Django, Asynchronous</h1>

        <p>
        </p>
        <p>
        </p>

        <p>
            <a href="/go" class="btn btn-success btn-lg">Join Now</a>
            <a href="/learn" class="btn btn-primary btn-lg">Learn more »</a>
        </p>
    </div>
    <div class="col-md-4">
        {# {% include "news_list.html" %} #}
    </div>
</div>

{% comment %}
<div class="row">
    <div class="col-md-4">
        <div class="group-info rounded5">
        <h3>Fast</h3>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="group-info rounded5">
        <h3>Async</h3>
            <p></p>

        </div>
    </div>
    <div class="col-md-4">
        <div class="group-info rounded5">
        <h3>Concise</h3>
            <p></p>
            <p>
            <a href="/go"></a>
            </p>
        </div>
    </div>
</div>
{% endcomment %}

{% endblock %} {# page_body_center_row #}
{% endblock %}
